.beforeConnection {
  position: relative;
  margin-left: 20%;
  height: 100vh;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

.bcMessage {
  width: 100%;
  background-color: #121212;
  border-bottom: 0.5px solid #343434;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bcMessage p {
  position: relative;
  top: 3px;
  display: inline-block;
  margin-bottom: 0%;
}

.bcMessage img{
  display: inline-block;
  margin-right: 15px;
}

/*animation from tutorial: https://www.youtube.com/watch?v=Tf6qm5JMUXQ*/
.animatedNameContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.animatedName h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  font-family: 'Bree Serif', sans-serif;
  font-size: 3em;
  font-weight: 700;
}

.animatedName h1:nth-child(1) {
  color: white;
}

.animatedName h1:nth-child(2) {
  color: #10bb35;
  animation: animate 3.5s ease-in-out infinite;
}

@-webkit-keyframes animate
{
  0%,100% {
    clip-path: polygon(0 65%, 11% 73%, 25% 76%, 37% 73%, 49% 65%, 60% 56%, 74% 49%, 88% 53%, 100% 64%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 65%, 11% 55%, 23% 50%, 35% 55%, 49% 65%, 60% 74%, 75% 79%, 89% 75%, 100% 64%, 100% 100%, 0% 100%);
  }
}