.dashboardPage{
  position: relative;
  margin-left: 20%;
  height: 100vh;
}

.dashboardPage a:link{
  color: white;
  text-decoration: underline;
}

.dashboardPage a:visited{
  color: white;
  text-decoration: underline;
}

.dashboardContainer {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
  width: 100%;
}

.dashboard {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  color: white;
  border-radius: 8px;
  border: solid rgba(255, 255, 255, 0.636) 0.5px;
  background-color: black;
}

.dashboardTitle{
  margin-left: 20%;
}

.noStream {
  text-align: center;
  font-size: 15px;
  font-family: "Lato";
}

.up{
  color: #a7c957;
}

.down{
  color: #ff686b;
}

.img{
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.cursor{
  cursor: pointer;
}

.tokenCard{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  width: 65%;
}

.card{
  text-align: left;
  border-radius: 15px;
}

.card :hover{
  transition: 0.1s;
  transition: 0.1s ease-in;
  color:rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.065);;
  z-index: 999;
  cursor: pointer;
}

.dashboardLoading{
  text-align: center;
}