.dashboardPage{
  position: relative;
  margin-left: 20%;
  height: 100vh;
}

.dashboardContainer {
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.noStream {
  text-align: center;
  font-size: 15px;
  font-family: "Lato";
}

.up{
  color: #a7c957;
}

.down{
  color: #ff686b;
}

.img{
  height: 15px;
  width: 15px;
  margin-right: 10px;
}