.mainPage{
  position: relative;
  height: 100vh;
}

.mainPage a:hover{
  color: lightgray;
  text-decoration: underline;
}

.mainPage a:visited{
  color: lightgray;
  text-decoration: underline;
}

.infoContainer{
  display: inline-block;
  position: absolute;
  width: 45%;
  top: 55%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Lato', sans-serif;
  padding-top: 3%;
  padding-bottom: 3%;
}

.infoSlogan{
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 8%;
}

.info{
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
}

.infoItem{
  margin-bottom: 25px;
}

.infoItem img{
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 35px;
  width: 35px;
  height: 35px;
}

.infoText{
  display: inline-block;
}

.header{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 3px;
}

.content{
  font-size: 15px;
  font-weight: 300;
  margin-left: 25px;
  color: lightgray;
}

.link{
  font-size: 13px;
  font-weight: 300;
  color: lightgray;
  text-decoration: underline;
  display: block;
}

.icon{
  margin-right: 10px;
}

.graphicContainer{
  width: 100%;
}

.bcMessage {
  width: 100%;
  background-color: #121212;
  border-bottom: 0.5px solid #343434;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bcMessage p {
  position: relative;
  top: 3px;
  display: inline-block;
  margin-bottom: 0%;
}

.bcMessage img{
  display: inline-block;
  margin-right: 15px;
}

/*animation from tutorial: https://www.youtube.com/watch?v=Tf6qm5JMUXQ*/
.animatedNameContainer {
  position: absolute;
  left: 26%;
  top: 48%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.animatedNameContainer p{
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
}

.mainConnect{
  -ms-transform: translate(-50%, 150%);
  transform: translate(-50%, 150%);
}

.animatedName h1 {
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  font-family: 'Bree Serif', sans-serif;
  font-size: 3em;
  font-weight: 700;
}

.animatedName h1:nth-child(1) {
  color: white;
}

.animatedName h1:nth-child(2) {
  color: #10bb35;
  animation: animate 3s ease-in-out infinite;
}

@-webkit-keyframes animate
{
  0%,100% {
    clip-path: polygon(0 65%, 11% 73%, 25% 76%, 37% 73%, 49% 65%, 60% 56%, 74% 49%, 88% 53%, 100% 64%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 65%, 11% 55%, 23% 50%, 35% 55%, 49% 65%, 60% 74%, 75% 79%, 89% 75%, 100% 64%, 100% 100%, 0% 100%);
  }
}