.subscriptions-container {
  position: relative;
  height: 100vh;
  margin-left: 20%;
  text-decoration: none;
}

.subscriptions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscriptions-container h5{
  font-weight: 700;
  margin-bottom: 5px;
}

.service-card{
  background-color: rgb(7, 5, 22);
  margin-top: 20px;
  width: 50%;
  height: 140px;
  padding: 30px;
  border: solid black 1px;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.service-card:hover{
  cursor: pointer;
  background-color: rgb(38, 36, 55);
  transition: 0.3s;
}

.service-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-thumbnail {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border: solid white 1px;
  border-radius: 18px;
}

.service-thumbnail img{
  width: 35px;
  height: 35px;
  margin-top: 11px;
}

.service-name-and-price{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: baseline;
}

.service-name{
  font-weight: bold;
}

.service-price {
  color: rgb(16, 198, 0);
}

.service-subscribe-button {
  color: white;
  text-decoration: none;
  background-color: #10bb35;
  border: solid black 1px;
  border-radius: 8px;
  padding: 15px 20px;
  transition: 0.1s;
  font-weight: 700;
  display: inline-block;
}

.service-subscribe-button:hover {
  cursor: pointer;
  border: solid white 1px;
  transition: 0.2s ease-in-out;
  filter: brightness(0.8);
}

.service-subscribe-button:active{
  box-shadow: black 3px 5px 10px;
  transition: 0.08s ease-out;
  transform: translateY(5px);
}

/* a:hover, a:focus {
    text-decoration:none;
} */

.service-link{
  display: inline-block;
  margin-left: 20px;
  color: white;
}