.streamPage {
  position: relative;
  margin-left: 20%;
  height: 100vh;
}

.streamPage a:link{
  color: white;
  text-decoration: underline;
}

.streamPage a:visited{
  color: white;
  text-decoration: underline;
}

.streamToggle{
 /* position: absolute;
  width: 100%;
  top: 12%;*/
}

.streamContainer { 
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flowCard{
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 55%;
  /*border: 0.5px solid #a9a9a9;*/
  background-color: black;
}

.titleContainer{
  margin-left: 15%;
  margin-right: 15%;
}

.flowTitle{
  position: relative;
  display: inline-block;
  left: 20px;
  top: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: left;
  width: 70%;
}

.token{
  width: 30%;
  text-align: right;
  display: inline-block;
}

.token img{
  margin-right: 3px;
  height: 15px;
  width: 15px;
}

.flowForm{
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4%;
}

.flowButtonContainer{
  margin-left: 15%;
  margin-right: 15%;
}

.flowRateForm{
  margin-top: 3%;
}

.flowAmount{
  display: inline-block;
  width: 75%;
  padding-right: 1%;
}

.flowInterval{
  display: inline-block;
  width: 25%;
  padding-left: 1%;
}

.displayNone{
  display: none;
}

.txMsg{
  font-size: small;
  margin-top: 20px;
}

/*borderEffect: https://freefrontend.com/css-border-animations/*/
.rainbow{
	position: relative;
	z-index: 0;
	border-radius: 5px;
	overflow: hidden;
}

.rainbow::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -60%;
  top: -60%;
  width: 220%;
  height: 220%;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#70e000, #ccff33), linear-gradient(#70e000, #70e000); 
  animation: rotate 12s linear infinite;
}

.rainbow::after {
  background: black;
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  top: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 5px;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}