.streamContainer {
  margin-top: 3%;
  margin-left: 14%;
  font-family: sans-serif;
}

.createFlowContainer {
  margin: 3%;
}

.createFlowForm{
  margin: 3%;
}

.createFlowCalculation {
  border: 2px solid green;
  padding: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.deleteFlowContainer{
  margin: 3%;
}

.deleteFlowForm{
  margin: 3%;
}