.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.dashboard {
  margin-top: 50px;
  margin: auto;
  align-items: center;
  /* padding: 30px; */
  display: flex;
  width: 70%;
  color: white;
  border-radius: 8px;
  border: solid rgba(255, 255, 255, 0.636) 0.5px;
  background-color: black;
}

.MuiTableHead-root{
  color: white;
}