.wrapUnwrapPage {
  position: relative;
  margin-left: 20%;
  height: 100vh;
}

.wrapUnwrapContainer{
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wrapUnwrapContainer a:link{
  color: white;
  text-decoration: underline;
}

.wrapUnwrapContainer a:visited{
  color: white;
  text-decoration: underline;
}

.wrapCard{
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 60%;
  border: 0.5px solid #a9a9a9;
}

.wrapTitle{
  position: relative;
  left: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

.wrapForm{
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4%;
}

.wrapButtonContainer{
  margin-left: 15%;
  margin-right: 15%;
}

.rateMessage{
  color: lightgray;
  font-family: 'Inter';
  font-size: smaller;
}

.wrapMessage{
  margin-top: 5%;
  font-size: smaller;
}

.displayNone{
  display: none;
}