.wrapUnwrapPage {
  position: relative;
  margin-left: 20%;
  height: 100vh;
}

.wrapUnwrapPage a:link{
  color: white;
  text-decoration: underline;
}

.wrapUnwrapPage a:visited{
  color: white;
  text-decoration: underline;
}

.wrapToggle{
}

.wrapUnwrapContainer{
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.titleContainer{
  margin-left: 15%;
  margin-right: 15%;
}

.wrapCard{
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 50%;
  border: 1px solid #343434;
}

.wrapTitle{
  position: relative;
  display: inline-block;
  left: 20px;
  top: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: left;
  width: 70%;
}

.token{
  width: 30%;
  text-align: right;
  display: inline-block;
}

.token img{
  margin-right: 3px;
  height: 15px;
  width: 15px;
}

.wrapForm{
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 4%;
}

.wrapButtonContainer{
  margin-left: 15%;
  margin-right: 15%;
}

.rateMessage{
  color: lightgray;
  font-family: 'Inter';
  font-size: smaller;
}

.wrapMessage{
  margin-top: 5%;
  font-size: smaller;
  padding-bottom: 0;
  margin-bottom: 0;
}

.displayNone{
  display: none;
}

.arrow{
  margin-left: 5px;
  margin-right: 5px;
}